.footer {
  text-align: center;
  color: white;
  background-color: #021617;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  fill: white;
}
