.logo {
  font-family: 'Rajdhani', sans-serif;
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-weight: 600;
}

.navbar {
  padding: 10px;
  color: white;
  background-color: black;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.navbar-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-link {
  padding: 0 10px;
  text-decoration: none;
  color: white;
}
